nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: transparent;
    height: 80px;
    position: relative;
    z-index: 10;
}

.nav-brand {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

h4 {
    margin-left: 10px;
    color: #FFFFFF;
}

.nav-items {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

li {
    margin-left: 20px;
}

li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.rightSide {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.redDot {
    width: 16px;
    height: 16px;
    background: #FF2B77;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.redDot p {
    margin: 0;
    font-size: 10px;
    color: #FFFFFF;
}

.basket img {
    width: 40px;
    height: auto;
}
